* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url(../imagens/backsig.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#burguer {
    background-color: rgb(156, 99, 231);
    color: rgb(60, 4, 97);
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    
}

#burguer:hover {
    background-color: rgb(60, 4, 97);
    color: rgb(156, 99, 231);
}

menu {
    position: relative;
    display: none;
    z-index: 2;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    padding: 0.26vh;
    text-decoration: none;
    align-items: center;
    background-color: rgb(60, 4, 97);
    border-top: 2px solid rgb(29, 2, 34);
}

menu > ul > li > a:hover {
    background-color:  rgb(156, 99, 231);
}

menu > ul > li > a > img {
    display: block;
    width: 7vw;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px black;
    box-sizing: border-box;
}

menu > ul > li > a > img:hover {
    border: 2px solid rgb(255, 255, 255);
    transform: translate(-6px, -6px);
    box-shadow: 5px 5px 10px black;
    transition: transform .3s, border 0.3s;
}

div#boxsig {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: rgba(255, 255, 255, 0.562);
    width: 80vw;
    height: 80vh;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);

    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

div#boxsig input,
div#boxsig button,
div#boxsig h1, label, input, #res {
    text-align: center;
    padding: 5px;
    width: 80%;
    max-width: 300px;
}

div#boxsig button, input {
    color: blueviolet;
    border-radius: 10px;
    margin-top: 20px;
}

div#boxsig h1 {
    color: blueviolet;
    font-size: 2.5em;
    text-shadow: 1px 1px 1px black;
}

div#boxsig label {
    font-size: 1.5em;
}

div#boxsig button:hover {
    background-color: rgb(27, 9, 43);
}

div#res {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30%;
    font-size: 1.3em;
}
