* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pacifico', cursive, arial, sans-serif;
}

:root {
    --corW: #fff;
    --corY: #defe47;
    --corP: #fe00fe;
    --corP1: #7700a6;
    --corP2: #150429;
    --corB: #00b3fe;
    --corB1: #0016ee;
  
  }

body {
    display: block;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: url(../imagens/backsig.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#burguer {
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
     background-color: rgb(156, 99, 231);
    color: rgb(60, 4, 97);
}

#burguer:hover {
    background-color: rgb(60, 4, 97);
    color: rgb(156, 99, 231);
}

menu {
    position: relative;
    display: none;
    z-index: 2;
}



menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    padding: 0.26vh;
    text-decoration: none;
    align-items: center;
    background-color: rgb(60, 4, 97);
    border-top: 2px solid rgb(29, 2, 34);
}

menu > ul > li > a:hover {
    background-color:  rgb(156, 99, 231);
}

menu > ul > li > a > img {
    display: block;
    width: 7vw;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.548);
    box-sizing: border-box;
}

menu > ul > li > a > img:hover {
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 5px 5px 10px black;
    transform: translate(-6px, -6px);
    transition: transform .3s, border 0.3s;
}

div#boxsig {
    position: absolute;
    top: 51%;
    left: 51%;
    overflow: hidden;

    background-color: rgba(255, 255, 255, 0.562);
    width: 80vw;
    height: 70vh;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);

    transform: translate(-51%, -51%);
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

div#boxsig input,
div#boxsig button,
div#boxsig h1, label, input, #res {
    text-align: center;
    padding: 5px;
    width: 70%;
    max-width: 300px;
}

div#boxsig button, input {
    color: blueviolet;
    font-size: 1.5em;
    border-radius: 10px;
    margin-top: 20px;
}

div#boxsig h1 {
    color: blueviolet;
    font-size: 2.5em;
    text-shadow: 1px 1px 1px black;
}

div#boxsig label {
    font-family: 'Pacifico', cursive;
    font-size: 1.5em;
}

div#boxsig button:hover {
    background-color: rgb(55, 19, 87);
    color: white;
}

div#res {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30%;
    font-size: 1.3em;
}

.textores {
    font-family: 'Pacifico', cursive;
    font-size: larger;
}

.link-signo {
    color: red;
    cursor: pointer;
    font-family: 'Pacifico', cursive;
    
  }

  .link-signo:hover {
    color: #ffffff;
    text-shadow: 0 0 5px black,
                0 0 25px black,
                0 0 50px black,
                0 0 100px black;
  }
  